<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<div class="container text-align outline">
 
  <div class="row">
    
    <div class ="col-xl">
       
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <!-- <a class="navbar-brand" href="#">Casa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <button type="button" class="btn btn-outline-primary" [routerLink]="['/app/home']">Casa</button>  
              </li>
                           
              <li class="nav-item">
                  <button type="button" class="btn btn-outline-primary" [routerLink]="['/app/new-pat']">Nuevo Paciente</button>  
              </li>
              <li class="nav-item">
                  <button type="button" class="btn btn-outline-primary" [routerLink]="['/app/list']">Lista de Pacientes</button>                  
              </li>
              <!-- <li class="nav-item">
                <button type="button" class="btn btn-outline-primary" [routerLink]="['/app/account']">Mi Cuenta</button>
              </li> -->
              <!-- <li class="nav-item">
                <button type="button" class="btn btn-outline-primary" (click)="logout()">Cerrar</button>
              </li> -->
                          
            </ul>
        </div>
        <form class="form-inline">
          <h2>TiriDoctor</h2>
        
        </form>
       
      </nav>
     
      <router-outlet></router-outlet> 


      
    </div>
 
      
  
        

  </div>

  
</div>



  


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


