<h2>Antecedentes Personales No Patologicos</h2>

<div class="col-lg">
    <div *ngIf="errors">
        <p class="text-danger" *ngFor="let item of errors ">{{item}}</p>
    </div>
</div>
<div class='col-lg scroll scrollbar-primary' *ngIf="show">
    <br> 

    <form  #newForm="ngForm" (submit)="onCreate(pat, newForm)">       

        <div class="form-group col-lg">
            <div class="form-check form-check-inline ">
                <input class="form-check-input" type="checkbox" value="true" name="alcohol" [ngModel]="nopatologico.alcohol">
                <label class="form-check-label" for="alcohol">
                    Alcohol
                </label>
            </div>           
            <input type="text" class="form-control"  name="alcoholContent" [ngModel]="nopatologico.alcoholContent">
        </div>
        <div class="form-group col-lg">
            <div class="form-check form-check-inline ">
                <input class="form-check-input" type="checkbox" value="true" name="tabacco" [ngModel]="nopatologico.tabacco">
                <label class="form-check-label" for="defaultCheck1">
                    Tabaquismo
                </label>
            </div>           
            <input type="text" class="form-control"  name="tabaccoContent" [ngModel]="nopatologico.tabaccoContent">
        </div>
        <div class="form-group col-lg">
            <div class="form-check form-check-inline ">
                <input class="form-check-input" type="checkbox" value="true" name="droga" [ngModel]="nopatologico.droga">
                <label class="form-check-label" for="drugs">
                    Drogas
                </label>
            </div>           
            <input type="text" class="form-control"  name="drugContent" [ngModel]="nopatologico.drugContent">
        </div>
        <div class="form-group col-lg">
            <div class="form-check form-check-inline ">
                <input class="form-check-input" type="checkbox" value="true" name="immuno" [ngModel]="nopatologico.immuno">
                <label class="form-check-label" for="immuno">
                    Immunizaciones
                </label>
            </div>           
            <input type="text" class="form-control"  name="immunoContent" [ngModel]="nopatologico.immunoContent">
        </div>

        
        <div class="row">
            <div class="form-group col-lg">
                <label for="otro">Otros</label>
                
                <textarea class="form-control"  name="otro" cols="5" rows="5" [ngModel]="nopatologico.otro"></textarea>
        
            </div>
            <div class="form-group col-lg">
                <label for="comment">Comentarios</label>
                
                <textarea class="form-control"  name="comment" cols="5" rows="5" [ngModel]="nopatologico.comment"></textarea>
        
            </div>

        </div>     
        
        
        <button class="btn btn-primary btn-sm btn-space">Añadir</button>
        <button class="btn btn-danger btn-sm btn-space" (click)="refresh()">Cancelar</button>
        
    </form>
    <br><br>
</div>

<div *ngIf="!show">
    <br>
    
    <div class='col-lg scroll scrollbar-primary' *ngFor="let list of pat.nopatologico">
        <form  #upForm="ngForm" (submit)="onUpdate(upForm)">
            
    
            <div class="form-group col-lg">
                <div class="form-check form-check-inline ">
                    <input class="form-check-input" type="checkbox" value="true" name="alcohol" [ngModel]="list['_doc'].alcohol">
                    <label class="form-check-label" for="alcohol">
                        Alcohol
                    </label>
                </div>           
                <input type="text" class="form-control"  name="alcoholContent" [ngModel]="list['_doc'].alcoholContent">
            </div>
            <div class="form-group col-lg">
                <div class="form-check form-check-inline ">
                    <input class="form-check-input" type="checkbox" value="true" name="tabacco" [ngModel]="list['_doc'].tabacco">
                    <label class="form-check-label" for="defaultCheck1">
                        Tabaquismo
                    </label>
                </div>           
                <input type="text" class="form-control"  name="tabaccoContent" [ngModel]="list['_doc'].tabaccoContent">
            </div>
            <div class="form-group col-lg">
                <div class="form-check form-check-inline ">
                    <input class="form-check-input" type="checkbox" value="true" name="droga" [ngModel]="list['_doc'].droga">
                    <label class="form-check-label" for="drugs">
                        Drogas
                    </label>
                </div>           
                <input type="text" class="form-control"  name="drugContent" [ngModel]="list['_doc'].drugContent">
            </div>
            <div class="form-group col-lg">
                <div class="form-check form-check-inline ">
                    <input class="form-check-input" type="checkbox" value="true" name="immuno" [ngModel]="list['_doc'].immuno">
                    <label class="form-check-label" for="immuno">
                        Immunizaciones
                    </label>
                </div>           
                <input type="text" class="form-control"  name="immunoContent" [ngModel]="list['_doc'].immunoContent">
            </div>
    
            
            <div class="row">
                <div class="form-group col-lg">
                    <label for="other">Otros</label>
                    
                    <textarea class="form-control"  name="otro" cols="5" rows="5" [ngModel]="list['_doc'].otro"></textarea>
            
                </div>
                <div class="form-group col-lg">
                    <label for="coment">Comentarios</label>
                    
                    <textarea class="form-control"  name="comment" cols="5" rows="5" [ngModel]="list['_doc'].comment"></textarea>
            
                </div>
    
            </div>
            <input type="hidden" name="_id" [ngModel]="list['_doc'].sid" class="form-control">
            <input type="hidden" name="_id2" [ngModel]="pat.sid" class="form-control">   
            
            
            <button class="btn btn-primary btn-sm btn-space">Salvar</button>
            <button class="btn btn-danger btn-sm btn-space" (click)="refresh()">Cancelar</button>
            
        </form>
        <br><br>
    </div>

</div>

