<h2>Antecedentes Personales Patologicos</h2>

<div class="col-lg">
    <div *ngIf="errors">
        <p class="text-danger" *ngFor="let item of errors ">{{item}}</p>
    </div>
</div>

<div class='col-lg scroll scrollbar-primary' *ngIf="show">
    <br>
    <form  #newForm="ngForm" (submit)="onCreate(pat, newForm)" >
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="cardiovascular" value="true" [ngModel]="patologico.cardiovascular">
            <label class="form-check-label" for="carviovascular">Cardiovasculares</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="pulmonar" value="true" [ngModel]="patologico.pulmonar">
            <label class="form-check-label" for="pulmonar">Pulmonares</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="digestivo" value="true" [ngModel]="patologico.digestivo">
            <label class="form-check-label" for="digestivo">Digestivos</label>
        </div>
        
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="diabetes" value="true" [ngModel]="patologico.diabetes">
            <label class="form-check-label" for="diabetes">Diabetes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="renal" value="true" [ngModel]="patologico.renal"> 
            <label class="form-check-label" for="renal">Renales</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="quirurgico" value="true" [ngModel]="patologico.quirurgico">
            <label class="form-check-label" for="quirurgico">Quirurgicos</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="alergico" value="true" [ngModel]="patologico.alergico">
            <label class="form-check-label" for="alergico">Alergicos</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="transfusion" value="true" [ngModel]="patologico.transfusion">
            <label class="form-check-label" for="transfusion">Transfuciones</label>
        </div>
        <br>
        <br>

      
        <div class="form-row">
            <div class="form-group col-lg">
                <label for="medications">Medicamentos</label>
                
                <textarea class="form-control"  name="medications" cols="5" rows="5" [ngModel]="patologico.medications"></textarea>
        
            </div>
            <div class="form-group col-lg">
                <label for="comment">Especifique</label>
                
                <textarea class="form-control"  name="comment" cols="5" rows="5" [ngModel]="patologico.comment"></textarea>
        
            </div>

        </div>     
        
        
        <button class="btn btn-primary btn-sm btn-space">Añadir</button>
        <button class="btn btn-danger btn-sm btn-space" (click)="refresh()">Cancelar</button>         
        
        
    </form>

    <br><br>

</div>

<div *ngIf="!show">
    <div class='col-lg scroll scrollbar-primary' *ngFor="let list of pat.patologico">
        <br>
        <form  #upForm="ngForm" (submit)="onUpdate( upForm)" >
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="cardiovascular" value="true" [ngModel]="list['_doc'].cardiovascular">
                <label class="form-check-label" for="carviovascular">Cardiovasculares</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="pulmonar" value="true" [ngModel]="list['_doc'].pulmonar">
                <label class="form-check-label" for="pulmonar">Pulmonares</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="digestivo" value="true" [ngModel]="list['_doc'].digestivo">
                <label class="form-check-label" for="digestivo">Digestivos</label>
            </div>
            
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="diabetes" value="true" [ngModel]="list['_doc'].diabetes">
                <label class="form-check-label" for="diabetes">Diabetes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="renal" value="true" [ngModel]="list['_doc'].renal"> 
                <label class="form-check-label" for="renal">Renales</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="quirurgico" value="true" [ngModel]="list['_doc'].quirurgico">
                <label class="form-check-label" for="quirurgico">Quirurgicos</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="alergico" value="true" [ngModel]="list['_doc'].alergico">
                <label class="form-check-label" for="alergico">Alergicos</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="transfusion" value="true" [ngModel]="list['_doc'].transfusion">
                <label class="form-check-label" for="transfusion">Transfuciones</label>
            </div>
            <br>
            <br>
    
            
            <div class="form-row">
                <div class="form-group col-lg">
                    <label for="medications">Medicamentos</label>
                    
                    <textarea class="form-control"  name="medications" cols="5" rows="5" [ngModel]="list['_doc'].medications"></textarea>
            
                </div>
                <div class="form-group col-lg">
                    <label for="comment">Especifique</label>
                    
                    <textarea class="form-control"  name="comment" cols="5" rows="5" [ngModel]="list['_doc'].comment"></textarea>
            
                </div>
    
            </div>
            <input type="hidden" name="_id" [ngModel]="list['_doc'].sid" class="form-control">
            <input type="hidden" name="_id2" [ngModel]="pat.sid" class="form-control">
            
            
            <button class="btn btn-primary btn-sm btn-space">Salvar</button>
            <button class="btn btn-danger btn-sm btn-space" (click)="refresh()">Cancelar</button>         
            
            
        </form>
    
        <br><br>
    
    </div>

</div>




