
<div class="row">
    <div class="col-sm-2">
        <h2>Problemas</h2>
    </div>
    <div class="col-sm-5">
        <button *ngIf="!showlist" class="btn btn-outline-primary btn-sm" (click)="showList()">Lista</button>
        <button *ngIf="showlist" class="btn btn-outline-danger btn-sm" (click)="hideList()">Ocultar Lista</button>
    </div>

</div>

<div class="col-md-8" *ngIf="!showlist">
    <br>
    <div class="col-lg">
        <div *ngIf="errors">
            <p class="text-danger" *ngFor="let item of errors ">{{item}}</p>
        </div>
    </div> 
    <form  #newForm="ngForm" (submit)="onCreate(pat, newForm)" >
        <div class="form-row">
            <div class="form-group col-lg-9">
                <label for="nombre" class="required">Problema</label>
                
                <input type="text" name="nombre" [ngModel]="newproblem.nombre" class="form-control" 
                required                        
                minlength="3"
                #nombre="ngModel">
                <div *ngIf="(nombre.touched || nombre.dirty) && nombre.errors">
                    <div *ngIf="nombre?.errors?.required" class="alert alert-danger">
                        Necesario
                    </div>
                    <div *ngIf="nombre?.errors?.minlength" class="alert alert-danger">
                        Debe tener
                        {{ nombre?.errors?.minlength.requiredLength }} letras
                    </div>
                </div>
        
            </div>
            <div class="form-group col-sm-2">
                <label for="activo" class="required">Activo</label>
                <select class="form-control" name="activo" [ngModel]="newproblem.activo"
                required
                #activo="ngModel">
                    <option></option>
                    <option>Si</option>
                    <option>No</option>
                    
                </select>
                <div *ngIf="(activo.touched || activo.dirty) && activo.errors">
                    <div *ngIf="activo?.errors?.required" class="alert alert-danger">
                        Necesario
                    </div>
                    
                </div>
        
            </div>

        </div>

        
        <button *ngIf="!newForm.valid" class="btn btn-primary btn-sm btn-space" disabled>Añadir</button>
        <button *ngIf="newForm.valid" class="btn btn-primary btn-sm btn-space">Añadir</button>
        <button class="btn btn-danger btn-sm btn-space" (click)="refresh()">Cancelar</button>
        
    </form>
    <br><br>
</div>

<div *ngIf="showlist" class="row">
     
   
    <div class="col-xl-5 scroll scrollbar-primary">
        <br> 
        
        <div class="container-fluid">
            <!-- <div class="justify-content-center">
                <input type="text" [(ngModel)]="name" (input)="search()" placeholder="Busqueda" aria-label="Search">
            </div> -->
            
            <br>
            <table class="table table-light"> 
                <thead class="table-primary">
                    <tr class="d-flex"><th class="col-sm-7">Problemas</th><th class="col-sm-2">Activos</th><th class="col-sm-2">Actiones</th></tr>  
                </thead>
            
                <tbody *ngFor="let list of problema">
                    
                    <tr class="d-flex">
                        <td class="col-sm-7"><button class="btn btn-outline-primary btn-sm" (click)="showEdit(list)">{{list['_doc'].nombre}}</button></td>
                        <td class="col-sm-2">{{list['_doc'].activo}}</td>
                        <td class="col-sm-2"><button class="btn btn-outline-danger btn-sm" (click)="onClickDelete(list)">Eliminar</button></td>
                    </tr> 
            
                </tbody>
                
                
            </table>
           
        </div>    

        

    </div>

    <div class="col-md-7">
        <div class="col-lg">
            <div *ngIf="errors">
                <p class="text-danger" *ngFor="let item of errors ">{{item}}</p>
            </div>
        </div>        

        <div *ngIf="showedit">
            <br><br>
            
            <form  #upForm="ngForm" (submit)="onUpdate(upForm)" >
                <div class="form-row">
                    <div class="form-group col-lg-9">
                        <label for="nombre" class="required">Problema</label>
                        
                        <input type="text" name="nombre" [ngModel]="editproblem.nombre" class="form-control" 
                        required
                        minlength="3"
                        #nombre="ngModel">
                        <div *ngIf="(nombre.touched || nombre.dirty) && nombre.errors">
                            <div *ngIf="nombre?.errors?.required" class="alert alert-danger">
                                Necesario
                            </div>
                            <div *ngIf="nombre?.errors?.minlength" class="alert alert-danger">
                                Debe tener
                                {{ nombre?.errors?.minlength.requiredLength }} letras
                            </div>                           
                            
                        </div>
                
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="activo" class="required">Activo</label>
                        <select class="form-control" name="activo" [ngModel]="editproblem.activo"
                        required
                        #activo="ngModel">
                            <option></option>
                            <option>Si</option>
                            <option>No</option>
                            
                        </select>
                        <div *ngIf="(activo.touched || activo.dirty) && activo.errors">
                            <div *ngIf="activo?.errors?.required" class="alert alert-danger">
                                Necesario
                            </div>
                                                        
                        </div>
                
                    </div>        
                </div>
                <input type="hidden" name="_id" [ngModel]="editproblem.sid" class="form-control">
                <input type="hidden" name="created_at" [ngModel]="editproblem.createdAt" class="form-control">
                <input type="hidden" name="_id2" [ngModel]="pat.sid" class="form-control">
        
                
                <button *ngIf="!upForm.valid" class="btn btn-primary btn-sm btn-space" disabled>Salvar</button>
                <button *ngIf="upForm.valid" class="btn btn-primary btn-sm btn-space">Salvar</button>
                <button class="btn btn-danger btn-sm btn-space" (click)="refresh()">Cancelar</button>
                
            </form>
            <br><br>

        </div>       

    </div>

</div>
