
<div class="col-xl">
    <br>
    <h1 class="text-center">Lista de Pacientes</h1>
    <input type="text" [(ngModel)]="name" (input)="search()" placeholder="Busqueda" aria-label="Search">
    <!-- <form (submit)="search()" class="form-inline" >
        <div class="form-group mb-2">
          <input  type="text" [ngModel]="name" placeholder="Busqueda" aria-label="Search">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
      </form> -->
    <br>
    <div class="scroll2 scrollbar-primary mt-2">    
    
        <table class="table table-light" > 
            <thead class="table-primary">
                <tr><th>#</th><th>Pacientes</th><th>Actiones Disponibles</th></tr>  
            </thead>
        
            <tbody *ngFor="let pat of patients">
                
                <tr>
                    <th scope="row">{{pat['_doc'].pid}}</th>
                    <td><button [routerLink]="['/app/view/' + pat['_doc'].sid]" type="button" class="btn btn-link btn-sm">{{pat['_doc'].firstName}} {{pat['_doc'].lastName}} {{pat['_doc'].sLastName}}</button></td>   
                    <td> <button [routerLink]="['/app/edit/' + pat['_doc'].sid]" type="button" class="btn btn-link btn-sm">Editar</button> | <button (click)="onClickDelete(pat)" type="button" class="btn btn-link btn-sm">Eliminar</button> </td>
                
                </tr> 
        
            </tbody>
            
            
        </table>
                
    
        </div>

</div>

