<h2>Problema Actual</h2>

<div class="col-lg">
    <div *ngIf="errors">
        <p class="text-danger" *ngFor="let item of errors ">{{item}}</p>
    </div>
</div>

<div class='col-lg scroll scrollbar-primary' *ngIf="show">
    <br>
    <form  #actualForm="ngForm" (submit)="onCreate(pat, actualForm)" >
        <div class="form-row">
            <div class="form-group col-lg">
                <label for="consulta" class="required">Motivo de Consulta</label>
                
                <textarea class="form-control"  name="consulta" [ngModel]="actual.consulta" cols="5" rows="5" 
                required
                minlength="10"
                #consulta="ngModel"></textarea>
                <div *ngIf="(consulta.touched || consulta.dirty) && consulta.errors">
                    <div *ngIf="consulta?.errors?.required" class="alert alert-danger">
                        Necesario
                    </div>
                    <div *ngIf="consulta?.errors?.minlength" class="alert alert-danger">
                        Por lo menos
                        {{ consulta?.errors?.minlength.requiredLength }} letras
                    </div>
                    
                </div>
        
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-lg">
                <label for="enfermedad" class="required">Enfermedad Actual</label>
                <input type="text" name="enfermedad" [ngModel]="actual.enfermedad" class="form-control" 
                required
                minlength="4"
                maxlength="20"
                #enfermedad="ngModel">
                <div *ngIf="(enfermedad.touched || enfermedad.dirty) && enfermedad.errors">
                    <div *ngIf="enfermedad?.errors?.required" class="alert alert-danger">
                        Necesario
                    </div>
                    <div *ngIf="enfermedad?.errors?.minlength" class="alert alert-danger">
                        Por lo menos
                        {{ enfermedad?.errors?.minlength.requiredLength }} letras
                    </div>
                    
                </div>
        
            </div>

        </div>
        
        
        

        <button *ngIf="!actualForm.valid" class="btn btn-primary btn-sm btn-space" disabled>Añadir</button>
        <button *ngIf="actualForm.valid" class="btn btn-primary btn-sm btn-space">Añadir</button>
        <button class="btn btn-danger btn-sm btn-space" (click)="refresh()">Cancelar</button>
        
    </form>
    <br>

</div>

<div  *ngIf="!show" > 
    <h3>{{pat.actual[this.index].consulta}}</h3>   
    <div class='col-lg scroll scrollbar-primary' *ngFor="let list of pat.actual">
        <br>        
        <form  #actualForm="ngForm" (submit)="onUpdate(actualForm)" >
            <div class="form-row">
                <div class="form-group col-lg">
                    <label for="consulta" class="required">Motivo de Consulta</label>
                    
                    <textarea class="form-control"  name="consulta" [ngModel]="list.consulta"  cols="5" rows="5"
                    required
                    minlength="10"
                    #consulta="ngModel">></textarea>
                    <div *ngIf="(consulta.touched || consulta.dirty) && consulta.errors">
                        <div *ngIf="consulta?.errors?.required" class="alert alert-danger">
                            Necesario
                        </div>
                        <div *ngIf="consulta?.errors?.minlength" class="alert alert-danger">
                            Por lo menos
                            {{ consulta?.errors?.minlength.requiredLength }} letras
                        </div>
                        
                    </div>
            
                </div>
    
            </div>
    
            <div class="form-row">
                <div class="form-group col-lg">
                    <label for="enfermedad" class="required">Enfermedad Actual</label>
                    <input type="text" name="enfermedad" [ngModel]="list.enfermedad" class="form-control"
                    required
                    minlength="4"
                    maxlength="20"
                    #enfermedad="ngModel">
                    <div *ngIf="(enfermedad.touched || enfermedad.dirty) && enfermedad.errors">
                        <div *ngIf="enfermedad?.errors?.required" class="alert alert-danger">
                            Necesario
                        </div>
                        <div *ngIf="enfermedad?.errors?.minlength" class="alert alert-danger">
                            Por lo menos
                            {{ enfermedad?.errors?.minlength.requiredLength }} letras
                        </div>
                        
                    </div>
                
                </div>
    
            </div>
            <input type="hidden" name="_id" [ngModel]="list._id" class="form-control">
            <input type="hidden" name="_id2" [ngModel]="pat._id" class="form-control">
            
            
            
    
            
            <button *ngIf="!actualForm.valid" class="btn btn-primary btn-sm btn-space" disabled>Salvar</button>
            <button *ngIf="actualForm.valid" class="btn btn-primary btn-sm btn-space">Salvar</button>
            <button class="btn btn-danger btn-sm btn-space" (click)="refresh()">Cancelar</button>
            
        </form>
        <br>

    </div>
    

</div>